### Markdowns

In [4]:
from IPython.display import Image
from IPython.core.display import HTML

### New Line

In [7]:
"""
New line use <br>
"""

'\nNew line use <br>\n'

New<br>line<br>use

### Images in Markdowns

Use  ![image info]_(https://abc----/.com/asd.png) to get an image form the web inot the jupyter notebook markdowns. (Without the '_' after [image info])

Example

![image info](https://miro.medium.com/max/466/1*1ZUnA4eR5J2WEGhDVPDkEw.png)

## Help 2

In [48]:
import numpy as np
import pandas as pd

In [49]:
data = { 'idx': ['a', 'b', 'c', 'd'],'scorex': [5, 10, 15, 20], 'idy': ['a', 'b', 'c', 'd'], 'scorey': [12, 3, 18, 6]}
df =pd.DataFrame.from_dict(data)

In [50]:
df

  idx  scorex idy  scorey
0   a       5   a      12
1   b      10   b       3
2   c      15   c      18
3   d      20   d       6

In [51]:
df['Max'] = df[['scorex','scorey']].idxmax(axis=1)

In [52]:
df

  idx  scorex idy  scorey     Max
0   a       5   a      12  scorey
1   b      10   b       3  scorex
2   c      15   c      18  scorey
3   d      20   d       6  scorex

In [54]:
df

  idx  scorex idy  scorey     Max
0   a       5   a      12  scorey
1   b      10   b       3  scorex
2   c      15   c      18  scorey
3   d      20   d       6  scorex

In [55]:
df.dtypes

idx       object
scorex     int64
idy       object
scorey     int64
Max       object
dtype: object

In [56]:
df['Max'] = df['Max'].astype('str')

In [57]:
df['maxid'] = df['Max'].apply(lambda x: 'idx' if x == 'scorex' else 'idy')

In [58]:
df

  idx  scorex idy  scorey     Max maxid
0   a       5   a      12  scorey   idy
1   b      10   b       3  scorex   idx
2   c      15   c      18  scorey   idy
3   d      20   d       6  scorex   idx